.help-contact{
    width: 600px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    h1{
        font-size: 32px;
        font-weight: 500;
        text-align: left;
        margin: 0;
    }
    p {
        font-size: 13px;
    }
    .names-contacthelp {
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
    }
    .option-contacthelp {
        margin-top: 30px;
        font-size: 15px;
        display: flex;
        align-items: flex-start;
    }
    img{
        width: 20px;
        margin-right: 10px;
    }
    .button-contacthelp{
        background: none;
        border:none;
    }
    .hr-contacthelp {
        width: 60%;
        margin: 0 10px;
        margin-top: 30px;
        border: 1px solid #0000004D;
    }
    .topics-contacthelp {
        margin-top: 50px;
    }

}
h3{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color:#F8C76C;
    margin: 0;
}