.register-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    .register{
        margin-right:10011px;
    }
    .img-1-registr{
        position:fixed;
        top:0;
        left:0;
        width:1500px;
        height:500px;
        pointer-events: none;
        z-index: 0;
    }
    .img-registr{
        z-index: 0;
    }
}
.body-registr{
    margin:0;
    padding:0;
    background:linear-gradient(to bottom right, white,#f8d0f1);
}





