.divider-homepage {
  height: 150px;
  width: 3px;
  background-color: #FFFFFF;
  box-shadow: 4px 3px 10.600000381469727px rgba(0,0,0,0.1);
}

.content-homepage {
  background-image: linear-gradient(#FAFAFA, #FBD1EE);
  padding-left: 77px;
  display: flex;
}

.title-homepage {
  font-weight: 700;
  font-size: 96px;
  margin-top: 178px;
  margin-bottom: 15px;
  width: 730px;
  line-height: 0.9;
}

.description-homepage {
  font-weight: 300;
  font-size: 30px;
  margin: 0;
}

.buttons-homepage {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}

.button-invest-homepage {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  color: white;
  background-color: #F8C76C;
  border-radius: 10px;
  width: 350px;
  height: 76px;
  text-align: center;
  box-shadow: 4px 3px 10.600000381469727px rgba(0,0,0,0.1);
  line-height: 76px;
  text-decoration: none;
}

.button-projects-homepage {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  color: #010101;
  background-color: white;
  border-radius: 10px;
  width: 271px;
  height: 76px;
  text-align: center;
  box-shadow: 4px 3px 10.600000381469727px rgba(0,0,0,0.1);
  line-height: 76px;
  text-decoration: none;
}

.examples-homepage {
  display: flex;
  gap: 22px;
  align-items: center;
  margin-top: 50px;
}

.statistics-homepage {
  margin: 0;
  height: 133px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.number-homepage {
  font-weight: 500;
  font-size: 64px;
  color: #FB7178;
  height: 45px;
  text-align: left;
  margin: 0;
  align-self: flex-start;
  max-width: 192px;
}

.descriptor-homepage {
  font-weight: 700;
  font-size: 20px;
  color: black;
  height: 47px;
  margin-top: 40px;
  align-self: flex-start;
  max-width: 193px;
}

.logo-homepage {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.36em;
  color: #FB7178;
  margin-top: 128px;
}

.logo-crowd-homepage {
  color: black;
}

.text-homepage {
  width: 762px;
}

.image-homepage {
  position: absolute;
  top: 205px;
  left: 32px;
  z-index: 4;
}

.circle-1-homepage {
  position: absolute;
  width: 1078px;
  height: 1078px;
  top: 193px;
  left: 167px;
  background: linear-gradient(180deg, #FBD0ED 19.01%, #FC9DA2 100%);
  border-radius: 50%;
  z-index: 0;
}

.circle-2-homepage {
  position: absolute;
  top: 238px;
  left: 910px;
  width: 265px;
  height: 265px;
  border: 6px solid #F8C76C;
  border-radius: 50%;
  z-index: 1;
}

.circle-3-homepage {
  position: absolute;
  top: 389px;
  left: 32px;
  width: 366px;
  height: 366px;
  border: 6px solid #F8C76C;
  border-radius: 50%;
  z-index: 2;
}

.circle-4-homepage {
  position: absolute;
  top: 112px;
  left: 579px;
  width: 172px;
  height: 172px;
  border: 6px solid #F8C76C;
  border-radius: 50%;
  z-index: 3;
}

.decoration-homepage {
  position: relative;
  margin-top: 89px;
  width: 1512px;
  overflow: hidden;
}